@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body, #__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* allows true fullscreen video */
  background: black;
}

body {
  color: white;
  font-family: 'SF Mono', 'Menlo', 'Consolas', 'Courier New', monospace;
}